.box1{
    background-color: tomato;
}
.box2{
    background-color:lightgreen;
}
.box3{
    background-color: limegreen;
}
.box4{
    background-color: blue;
}
.box5{
    background-color: #a0f2c7;
}
.box6{
    background-color: rgba(120, 255, 192, 0.507);
}